<section class="ftco-appointment ftco-section img" style="background-image: url(/public/images/bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container rtl">
			<div class="row">
				<div class="col-md-6 half ftco-animate">
					<h2 class="mb-4"> لطفا نظر خود را ثبت کنید</h2>
					<form action="/reviews" method="POST" class="appointment">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input name="name" type="text" class="form-control" placeholder="نام شما" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input name="phone" type="text" class="form-control" placeholder="شماره تماس (اختیاری)">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="fa fa-chevron-down"></span></div>
											<select name="problem" id="" class="form-control" required>
												<option value="">موضوع مراجعه</option>
												<option value="مشکل رابطه">مشکل رابطه</option>
												<option value="مشاوره زوجین">مشاوره زوجین</option>
												<option value="درمان افسردگی">درمان افسردگی</option>
												<option value="مشکل خانوادگی">مشکل خانوادگی</option>
												<option value="مشکل شخصی">مشکل شخصی</option>
												<option value="مشکل کسب و کار">مشکل کسب و کار</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="comment" id="" cols="30" rows="7" class="form-control"
										placeholder="نظر خود را بنویسید" required></textarea> 
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" value="ثبت نطر " class="btn btn-primary py-3 px-4">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>