
	<section class="ftco-section ftco-no-pb ftco-no-pt">
		<div class="container rtl">
			<div class="row">
				<div class="col-md-6 img img-3 d-flex justify-content-center align-items-center"
					style="background-image: url(/public/images/about-1.jpg);">
				</div>
				<div class="col-md-6 wrap-about px-md-5 ftco-animate py-5 bg-light">
					<div class="heading-section">
						<span class="subheading">به مشاور خوش آمدید</span>
						<h2 class="mb-4">بهترین شبکه تامین مالی مشاوره در سراسر جهان.</h2>

						<p>رودخانه ای کوچک به نام دادن در محل خود جریان می یابد و آن را با رجیل های لازم تأمین می کند.
							این یک کشور بهشتی است که در آن قسمت های برشته شده جملات به دهان شما پرواز می کنند.</p>
						<p>در راه او با یک کپی ملاقات کرد. کپی به متن کوچک کور هشدار داد که از جایی که آمده است هزار بار
							بازنویسی شده است و هر چیزی که از اصل آن باقی مانده است کلمه "و" خواهد بود و متن کوچک کور
							باید برگردد و به کشور امن خود بازگردد.</p>

						<a href="https://vimeo.com/45830194"
							class="play-video popup-vimeo d-flex align-items-center mt-4">
							<div class="icon d-flex align-items-center justify-content-center"><span
									class="fa fa-play"></span></div>
							<span class="watch">تماشای ویدیوی مشاور ما</span>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section>