	<section class="ftco-appointment ftco-section img" style="background-image: url(/public/images/bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container rtl">
			<div class="row">
				<div class="col-md-6 half ftco-animate">
					<h2 class="mb-4">پیام بفرستید و با ما در تماس باشید!</h2>
					<form action="#" class="appointment">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="نام شما">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="ایمیل">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="fa fa-chevron-down"></span></div>
											<select name="" id="" class="form-control">
												<option value="">خدمات</option>
												<option value="">مشکل رابطه</option>
												<option value="">مشاوره زوجین</option>
												<option value="">درمان افسردگی</option>
												<option value="">مشکل خانوادگی</option>
												<option value="">مشکل شخصی</option>
												<option value="">مشکل کسب و کار</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="" id="" cols="30" rows="7" class="form-control"
										placeholder="پیام"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" value="ارسال پیام" class="btn btn-primary py-3 px-4">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>